/* Linked to Homepage.html */

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

.clock {
    margin-bottom: 0 !important;
    font-family: 'Poppins';
    font-size: 120px;
    font-weight: 400;
    text-align: center;
    color: azure;
    text-shadow:
        -1px 2px 0 black,
        1px 2px 0 black;
}

.date {
    margin-bottom: 0 !important;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: azure;
    text-shadow:
        -1px 2px 0 black,
        1px 2px 0 black;
}

.boxContainer {
    margin: auto;
}

.boxes {
    display: block;
}

.content {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 20%;
    right: 20%;
    transform: translate(0, -50%);
    line-height: 13ch;
}

.quotes {
    position: absolute;
    top: 95%;
    left: 30px;
    right: 30px;
    text-align: center;
    font-style: italic;
    padding: 250px;
    transform: translate(0, -50%);
    color: whitesmoke;
    font-size: 20px;
    text-shadow:
    -1px 1px 0 black,
    1px 1px 0 black;
}



h2 {
    margin: 0;
}

h4 {
    margin: 0;
    line-height: 0cm;
}

.clock {
    margin: 0;
}
.date {
    margin: 0;
}

.greating {
    text-align: center;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 400;
    color: azure;
    text-shadow:
        -1px 2px 0 black,
        1px 2px 0 black;
}



button {
    background-color: black;
    color: white;
    border-color: grey;
    width: 75px;
}


